.conatiner{

display: flex;
flex-direction: column;
/* justify-content: center; */
height: 100vh;
text-align: center;

}
form{

    margin-top: 20px;
}
#guess{
    font-size: 40px;
    margin: 20px;
        
}

input{
text-align: center;
height: 30px;
width: 170px;
margin: 20px;

}